body {
    user-select: none;
    font-family: "Rubik",Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    background-image: url("asset/bg4.png");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px 30px 5px 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    padding-right: 20px;
    border-right : 2px solid rgba(255, 255, 255, 0.3);
}

.subscribe {
    display: flex;
    align-items: center;
}

.subscribe button {
    font-size: 20px;
    padding: 8px 15px;
    background: linear-gradient(45deg, #00c3ff, #951cff, #ff0080);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.subscribe button:hover {
    background: linear-gradient(45deg, #ff0088, #951cff, #45b5ff);
}

#line{
    color : white;
    width: 30%;
    opacity: 0.6;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin : 30px auto;
    justify-content: center;
    padding: 40px;

}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 90px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 3s steps(18),blink 1000ms steps(1000) infinite;
    border-right: 5px solid rgb(255, 255, 255);
}
@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width:100%;
    }
}

@keyframes blink {
    from {
        border-color: rgb(255, 255, 255);
    }

    to {
        border-color: transparent;
    }
}
img{
    border-radius: 10%;
    width: 20rem;
    height: 20rem;
    /*box-shadow: 0 0 60px rgb(255, 255, 255);*/
}
@media (max-width: 768px) {
    h1 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }
    #des{
        font-size: 16px;
    }
    img{
        width: 260px;
        height: 260px;
    }
}
#start-btn{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgb(0, 174, 32);
    color:white;
    border:none;
    padding:20px 40px 20px 40px;
    border-radius: 30px;
    cursor:pointer;
}
#start-btn:hover{
    background-color: rgb(0, 147, 27);
}
p{
    font-size: 18px;
    text-align: center;
    margin: 30px;
}
