body {
  font-family: "Rubik","sans-serif";
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #00011c, #000000, #23001a);
  color: white;
  user-select: none;
  background-size: cover;
  background-attachment: fixed;
}
header{
  display: flex;
  align-items: center;
}
.centered{
  display: flex;
  align-items: center;
}
.centered a{
  background-color: #00000000;
  color: #fff;
  padding: 20px 30px 20px 30px;    
  display: flex;
  align-items: center;
  position: relative; 
  text-decoration: none;
  color: white;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  padding-right: 20px;
  border-right : 2px solid rgba(255, 255, 255, 0.3);
}
.logo img{
  width: 60px;
  height: 60px;
}
.article{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: #00000054;
  margin: 0px auto;
  padding: 40px;
  border-radius: 20px;
  padding-bottom: 200px;
  justify-content: center;
  margin-bottom: 50px;
  animation: fadeIn 0.25s ease-in forwards;
}

.title{
  font-size: 32px;
  text-align: center;
}
#back-link{
  font-family: "Rubik","sans-serif";
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 8px 8px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg,#315aff, #570035);
  text-align: left;
  cursor: pointer;
}
.content{
  line-height: 40px;
  font-size : 20px;
  text-align: justify;
  color: rgb(199, 199, 199);

}
#line{
  opacity: 20%;
  color: white;
  max-width: 70%;
}
@media (max-width: 1200px){
  .article{
    max-width: 1000px;
    border-radius: 0px;
  }
  .content{
    font-size: 17px;
  }
  .title{
    font-size: 24px;
  }
  #back-link{
    font-size: 10px;
  }
} 
@media (max-width: 600px){
  .article{
    max-width: 1000px;
    border-radius: 0px;
  }
}

.author{
  font-style: italic;
  color: #afafafe6;
}

/*  ======== FAQ Section Styling =========*/

.faq {
  margin-top: 30px;
}

.faq-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.faq-content {
  display: none; /* Hidden by default */
  padding: 30px;
  padding-top: 0px;
  text-align: justify;
  animation: fadeIn 0.25s ease-in forwards;
}

.faq-question {
  font-weight: bold;
  margin: 30px 0 20px 0;
  font-size: 18px;
  color: #FFFFFF;
}

.faq-answer {
  margin-bottom: 15px;
  color: #cfcfcf;
  font-size: 16px;
}

/* Button Styling */
#faq-toggle {
  display: block;
  margin: 20px auto;
  margin-bottom: 2px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to right, #cab3ff, #009dff);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  animation: fadeIn 0.25s ease-in forwards;
}

#faq-toggle:hover {
  background: linear-gradient(to right, #00BFFF, #a255ff); 
}

@media (max-width: 1200px) {
  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
  }

  #faq-toggle {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 13px;
  }

  #faq-toggle {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =========== Comment Section Styling =========== */

.comment-section {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
}

.comments-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.comments-content {
  margin-bottom: 30px;
}

.comment {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffe6fc;
}

.comment-author {
  font-weight: bold;
  color: #310000;
}

.comment-text {
  margin-block: 6px;
  color: #310000;
  font-size: 16px;
}

/* Form styling */
#comment-form {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.comment-name, .comment-textarea {
  align-self: stretch;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background: #ffe6f8;
  color: #310000;
  font-family: Rubik;
  font-size: 16px;
  outline: none;
}

.comment-textarea { 
  height: 100px;
}

.comment-name::placeholder, .comment-textarea::placeholder {
  color: #310000;
}

.submit-comment {
  width: fit-content;
  padding: 10px 20px;
  background: linear-gradient(to right, #cab3ff, #009dff);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: Rubik;
  transition: background-color 0.3s ease;
}

.submit-comment:hover {
  background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .comment {
    padding: 10px;
  }

  .comment-text {
    font-size: 14px;
  }

  .comment-name, .comment-textarea {
    font-size: 14px;
  }

  .submit-comment {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .comment-section {
    padding: 0;
  }  
}