html{
    height: 100%;
    margin: 0;
    font-family: "Rubik", Arial, sans-serif;
    background: linear-gradient(45deg, #010027, #000000, #010027);
    color: white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    font-family: "Rubik", Arial, sans-serif;
    /* background: linear-gradient(45deg, #010027, #000000, #010027); */
    background-image: url('./asset/HomePageBackground.jpg');
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;    
}

header {
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 30px 20px 30px;
    gap: 2rem;
    position: sticky;
    top: 0; 
    background: rgba(0, 0, 0, 0); 
    z-index: 1000; 
    backdrop-filter: blur(2px); 
    transition: height 0.3s ease, padding 0.3s ease;
    height: 80px; 

}

header.collapsed {
    height: 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav {
    transition: opacity 0.3s ease;
}
header.collapsed .header-nav {
    opacity: 0; 
    pointer-events: none;
}
.search-bar{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
}
.search-input > input{
    background: transparent;
    border:none;
    height: 30px;
    width: 100%;
    outline: none;
    color: white;
    font-size: large;
    
}
.search-input{
    border-bottom: 1px solid white;
    height: fit-content;
    width: 0px;
    padding: none;
    transition: all 500ms ease-in-out;
    
    
}
.search-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    flex-shrink: 0;
}

.centered {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.name {
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.logo img {
    width: 60px;
    height: auto;
}

.signin {
    display: flex;
    align-items: center;
}

.signin button {
    font-size: 15px;
    padding: 8px 15px;
    background: linear-gradient(45deg, #00c3ff, #951cff, #ff0080);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin button:hover {
    background: linear-gradient(45deg, #ff0088, #951cff, #45b5ff);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px auto;
    border-radius: 30px;
    max-width: 1200px;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.892);
    animation: fadeIn 0.25s ease-in forwards;
    flex: 1; 
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about {
    flex-grow: 1;
    text-align: center;
    flex-grow:1;
}

.grad-text {
    background: linear-gradient(135deg, #849aff, #ffa3dc);
    background-clip: text;
    color: transparent;
    font-size: 80px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid rgb(255, 255, 255);
    animation: blink 1s steps(1000) infinite;
}

/* @keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: rgb(255, 255, 255);
    }
} */


@keyframes blink {
    from {
        border-color: rgb(255, 255, 255);
    }
    to {
        border-color: transparent;
    }
}

img {
    border-radius: 10%;
    width: 20rem;
    height: 20rem;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 40px;
    }
    #des {
        font-size: 18px;
    }
    img {
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 28px;
    }
}
/* 
#start-btn {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: black;
    background: linear-gradient(45deg, #ffb6dd, #faf4ff, #ffffff);
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
}

#start-btn:hover {
    background: linear-gradient(45deg, #ffffff, #ffffff, #ffd0f2);
} */

p {
    font-size: 20px;
    text-align: center;
    margin: 30px;
}

footer {
    color: rgb(152, 152, 152);
    padding: 0px;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom:0;
    width: 100%;
    font-size: 0.9rem;
}
footer p{
    font-size: 13px;
    margin: 0;
}
@media (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;  
    }
    .nav-link {
        font-size: 1rem;
    }

    .name {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .grad-text{
        font-size: 65px;
    }
}

@media (max-width: 1100px) {
    .grad-text{
        font-size: 60px;
    }
}
@media (max-width: 1000px) {
    .grad-text{
        font-size: 55px;
    }
}
@media (max-width: 800px) {
    .grad-text{
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .grad-text{
        font-size: 30px;
    }
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    color: #d7d7d7;
    border-radius: 20px;
    margin: auto;
}

.section h1 {
    font-size: 2.5rem;
    color: #ffb6dd;
    text-align: center;
}

.section h2 {
    font-size: 1.8rem;
    color: #ffffff;
}

.section p, ul {
    font-size: 1.1rem;
    color: #d7d7d7;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .section h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .section h1 {
        font-size: 1rem;
    }
    .section p{
        font-size: 0.5rem;
    }
    .about-logo{
        width: 80px;
    }
    .section{
        padding: 0px;
    }
}


.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.about-page img.about-logo {
    margin-bottom: 20px;
    margin:auto;
}

.section h1 {
    font-size: 2.5rem;
    color: #ffb6dd;
    text-align: center;
}

.section p {
    font-size: 1.2rem;
    color: #d7d7d7;
    line-height: 1.6;
    text-align: justify;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
}

.nav-link:hover {
    color: #00c3ff;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link-icon {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
    font-size: 15px;
    padding: 8px 15px;
    background: linear-gradient(45deg, #00c3ff, #951cff, #ff0080);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-link-icon:hover {
    color: #00c3ff;
}

.image-main img {
    border-radius: 10%;
    width: 300px;
    height: 300px;
}

body::-webkit-scrollbar {
    display: none;
}

.bars-image {
	position: fixed;
	height: 30px;
	width: 30px;
	top: 35px;
	right: 30px;
	z-index: 1001;
}

.menu-plus-image {
    height: 13px;
    width: 13px;
    transition: transform 0.35s ease;
  }
  
  .menu-plus-image.rotate {
    transform: rotate(45deg);
  }
  
  #menu-icon {
    position: relative;
    z-index: 1001;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -60%;
    height: 100vh;
    width: 60%;
    background: linear-gradient(45deg, #010027, #000000, #010027);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    transition: right 0.35s ease-in;
    padding-top: 55px;
    z-index: 1000;
  }
  
  .menu a {
    text-decoration: none;
    font-size: 1.7rem;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .menu.active {
    right: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .centered {
      justify-content: space-between;
    }
  }

  
  @media screen and (max-width: 900px) {
    .content{
        margin:10px;
    }
    .logo {
      display: none;
    }
    .name{
        font-size: 20px;
    }
    .nav-link{
        font-size: 12px;
    }
    .search-bar{
        display: none;
    }
  }


#toggle-theme {
font-size: 30px;
color: white;
background-color: rgba(255, 255, 255, 0);
border: none;
}



@keyframes lightMove {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    50% {
        transform: translateX(100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

#start-btn {
    position: relative;
    color: white;
    background: linear-gradient(45deg, #040075, #2f0050, #570069);
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer; 
    transition: opacity 0.3s;
    font-size: 17px;
    overflow: hidden; 
}

#start-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.66);
    animation: lightMove 2.4s infinite;
    pointer-events: none;
}